{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mx-auto px-4 pt-16">
		<div class="popular-shows">
			<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Popular Shows</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
				{% for tvShow in popularTvShows %}
					{{ component('Card', {media: tvShow, url: path('tv_show', {id: tvShow.id})}) }}
				{% endfor %}
			</div>
		</div>
		<div class="top-rated-shows py-24">
			<h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">Top Rated Shows</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
				{% for tvShow in topRatedTvShows %}
					{{ component('Card', {media: tvShow, url: path('tv_show', {id: tvShow.id})}) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
